MILVUS_HOST=milvus.local
MILVUS_PORT=20112
EMBEDDER_HOST=embedder.local
EMBEDDER_PORT=11434
KAFKA_BROKERS=kafka.local:20106
REPO_TEI_DIRS=/repo-tei-dirs/
CACHE_DIR=~/.textbase/cache
MYSQL_JDBC_URL=jdbc:mysql://textbase:secret@mysql.local:20103/textbase?autoReconnect=true&useSSL=false&noAccessToProcedureBodies=true&serverTimezone=Europe/Bucharest&useTimezone=false&allowPublicKeyRetrieval=true
TEXTBASE_EXTERNAL_URL=http://textbase.local:8080