VECTORSTORE_URL=qdrant:6333
EMBEDDER_URL=embedder:1000
KAFKA_BROKERS=kafka:1000
TEI_REPOS=/repo-tei-dirs
WORK_DIR=~/.work
MYSQL_URL=jdbc:mysql://mysql/biblio?user=biblio&password=secret&autoReconnect=true&useSSL=false&noAccessToProcedureBodies=true&serverTimezone=Europe/Bucharest&useTimezone=false&allowPublicKeyRetrieval=true
BIBLIOTECA_EXTERNAL_URL=http://localhost:8080
