VECTORSTORE_URL=qdrant:6333
EMBEDDER_URL=embedder:1000
KAFKA_BROKERS=kafka:1000
TEI_REPOS=/repo-tei-dirs
WORK_DIR=~/.work
DB_URL=jdbc:derby://derby:1527/biblioteca;create=true
DB_USER=biblioteca
DB_PASSWORD=secret
BIBLIOTECA_EXTERNAL_URL=http://localhost:8080
